.App-header {
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1634704784915-aacf363b021f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-box {
  max-width: 500px !important;
  width: 100%;
  display: flex;
  padding: 20px;
  height: 30vh;
}
.custom-navbar {
  background-color: #fff !important;
  color: black !important;
}
.address-row {
  margin-left: 8px !important;
}
.card-desc {
  padding: 5px;
}

@media (max-width: 768px) {
  .App-header {
    min-height: calc(100vh - 56px);
    padding-top: 15vh;
  }
  .address-row {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (min-width: 769px) {
  .App-header {
    justify-content: center;
    min-height: calc(100vh - 64px);
    align-items: center;
  }
  .app-card {
    width: 540px !important;
  }
}
